
body {
  font-family: sans-serif;
}

table {
  display: inline;
  font-size: 16px;
  color: dodgerblue;
}

input {
  width: 100px;
  text-align: center;
  font-size: 16px;
  border: 1px solid dodgerblue;
  border-radius: 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
  width: 50px;
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 12px 0px;
  display: inline-block;
  font-size: 18px;
  color: dodgerblue;
  background-color: white;
  border: 2px solid dodgerblue;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: dodgerblue;
  color: white;
}

.cube-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 1px;
}

.cube:hover {
  opacity: 0.6;
}

.cube[selected=true] {
  outline: 1px solid black;
}

.dimgray {
  background-color: dimgray;
}

.dodgerblue {
  background-color: dodgerblue;
}

.red {
  background-color: red;
}

.indianred {
  background-color: indianred;
}

.cyan {
  background-color: cyan;
}

.lime {
  background-color: lime;
}

.magenta {
  background-color: magenta;
}

.white {
  background: white;
}

.yellow {
  background: yellow;
}