.App {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

li.chat {
  text-align: left;
  padding-left: 40px;
}

input[type='submit'] {
  margin-left: 3px;
}
input[type='text'] {
  width: 50%;
}

html {
  height: 97%;
}

div#chatRoom, body, div#root, div.App {
  height: 100%;
}

form {
  vertical-align: baseline;
}

textarea {
  margin-top: 0.2vh;
  width: 60%;
  height: 7vh;
  resize: none;
}

Button.send {
  margin-top: -7vh;
  margin-left: 0.2em;
  height: 7vh;
  width: min-content;
}